<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Movie Page</title>
</head>
<body>
	<div class = "container">
		<div>Title: <%= movie.Title %></div>
		<div>Plot: <%= movie.Plot  %> </div>
	</div>
</body>
</html>