<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<meta charset="UTF-8">
	<title>The PROFILE </title>
</head>
<body>
	<div class = "container">
		<%= ejsUser.email  %>
		<form method="POST" action="/logout?_method=DELETE">
			<button>Logout</button>
		</form>
	</div>
</body>
</html>